@model DeanAndSons.Models.IMS.ViewModels.StaffManagerIndexIMSViewModel

@{
    ViewBag.Title = "StaffManagerIndex";
}

@* ********** Page Header ********** *@

<div class="container-fluid dc-header">
    <div class="container">
        <header>
            <div class="logo1">Dean & Sons.</div>
            <div class="logo2">Family Estate Agency</div>
            <div class="col-md-12 dc-pageHead">
                <p class="pageTitle">Staff Manager Index - IMS</p>
            </div>

        </header>
    </div>
</div>

<div class="container body-content">

    @* ********** Item List ********** *@
    <div id="indexList">

        @Html.Partial("_StaffManagerIndex", Model)

    </div>

    @* ********** START Delete Section ********** *@

    @*Modal*@
    <div id="deleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            @*Modal content*@
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Staff Member</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to permanently delete this staff member?</p>
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("StaffManagerDelete", "IMS", new { id = 123456789 }, FormMethod.Post, new { id = "deleteForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-md-6">
                            <a id="cancelDelete" class="btn btn-default btn-block">Cancel</a>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-danger btn-block">Permanently Delete</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Add Staff Member", "StaffManagerCreate", "Account", null, new { @class = "btn btn-success pull-right", role = "button" })
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/Scripts/Custom/DeleteModal.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}