.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: auto;
      margin: auto;
      /*height: 900px;*/
      max-height: 500px;
  }

#noCarouselImg {
      width: auto;
      margin: auto;
      height: 30em;
      max-height: 30em;
}