@{
    ViewBag.Title = "About";
}

@* ********** Page Header ********** *@

<div class="container-fluid dc-header">
    <div class="container">
        <header>
            <div class="logo1">Dean & Sons.</div>
            <div class="logo2">Family Estate Agency</div>
            <div class="col-md-12 dc-pageHead">
                <p class="pageTitle">Our Story</p>
            </div>

        </header>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1>About Dean & Sons.</h1>

            <p>
                Since 1973 Dean & Sons have expanded throughout the South of the UK, with over 80 branches covering a region from St Ives in the east to Cardiff in the west, helping people
                to move every day. The size of our network allows your property the widest audience of potential buyers or tenants, aiming to find the perfect person for your property in
                the shortest time frame possible. All of our offices are computer linked, meaning that your property for sale or rent is offered at every one of our locations.
            </p>

            <p>
                Whether you are buying, selling, letting or renting property, or simply want to arrange a mortgage, we would be delighted to help you. After all, it's what we do best.
                Covering the entire property spectrum from first time buyer flats to large country properties with acreage, at Dean & Sons we pride ourselves on being able to make your property
                sale or purchase a success every time.
            </p>

            <p>
                Our people are among the best in the business. We have a strict recruitment and development policy to ensure the highest standards, making sure that each member of staff is
                highly trained and dedicated to your property transaction. Combine this with expertise and unrivalled local knowledge, when you choose Dean & Sons as your estate or letting agent,
                you can rest assured that your property is in safe hands.
            </p>

            <p>
                With bold for sale signage, a strong high street presence, and prominent advertising, our unique branding makes us stand out from the crowd, generating many enquiries for your
                property. We are often the first port of call for buyers when registering, with Dean & Sons being a well known and well respected name in local property markets.
            </p>

            <p>
                To see how successful we are in selling and letting property, visit our statistics and awards page.
            </p>

            <p>
                As well as fulfilling your property sale or letting your property, we can also offer a number of additional services, such as helping large companies relocate staff all across
                the UK, through our corporate department.
            </p>

            <p>
                We are Backed by Countrywide, the largest and most successful estate agency group in the UK with over 1,200 associated locations across the UK. Employing 7000 estate agents
                Countrywide facilitates the sales of property worth billions of pounds each year. Your property will benefit from extensive online advertising through all major property
                websites, and will be featured on Propertywide.co.uk and Zoopla.co.uk, as well as Rightmove, Find a Property and Primelocation.
            </p>

            <p>
                On deciding to sell your property with us we will ensure it is marketed to the widest possible audience. Through our association with John D Wood & Co. we can access a
                vast selection of London, national and international buyers looking to move outside of the capital. Established in Mayfair over 130 years ago, the John D Wood & Co. name
                has long been synonymous with the sale of premium properties. If you are looking for an agent who can promote your property both locally and nationally using time-tested methods,
                contact us today.
            </p>

</div>
    </div>
</div>